.btn {
  font-size: 12px;
  font-weight: 500;
  color: $white;
  background: $governor_bay;
  border-radius: 30px;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: $shadow;
  border: 0;
  outline: 0;

  &:hover,
  &:focus {
    color: $white;
    box-shadow: 0 4px 17px -10px rgba($mariner, 0.2);
    background: darken($mariner, 5%);
    transition: background 0.2s;
  }

  &:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
  }

  &--link {
    background: $pomegranate;

    &:hover,
    &:focus {
      box-shadow: 0 4px 17px -10px rgba($flamingo, 0.2);
      background: darken($flamingo, 6%);
      transition: background 0.2s;
    }
  }

  &--yellow {
    font-size: 11px;
    line-height: 12px;
    background: $carrot_orange;
    border-radius: 3px;
    box-shadow: $shadow;
    padding: 0 9px;
    height: 21px;
    width: initial;

    &:hover,
    &:focus {
      background: darken($carrot_orange, 6%);
      box-shadow: 0 4px 17px -10px rgba($carrot_orange, 0.2);
    }
  }

  &--direct {
    display: inline-flex;
    font-size: 12px;
    border-radius: 5px;
    background: $governor_bay;
    padding: 0 14px;
    height: 30px;
    width: initial;

    &:hover,
    &:focus {
      box-shadow: 0 4px 17px -10px rgba($governor_bay, 0.2);
      background: darken($governor_bay, 6%);
      transition: background 0.2s;
    }
  }
}

.imitation-link {
  color: $azure_radiance;
  border: 0;
  background: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $azure_radiance;
    text-decoration: underline;
  }
}

.close {
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
  opacity: 0.5;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  transition: transform 0.3s;

  &:hover,
  &:focus {
    opacity: 1;
    transform: scale(1.1);
  }
}
