.page-nav {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 80px;

  @include tablet-and-bigger {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  &__list {
    display: inherit;
  }

  &__item {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: $nav_gray;
    display: inherit;
    align-items: center;
    justify-content: center;
    box-shadow: $shadow;
    cursor: pointer;

    &:hover {
      background: darken($nav_gray, 1);

      & a {
        color: $white;
      }
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    &--active {
      background: $azure_radiance;

      &:hover {
        background: $azure_radiance;
      }
    }
  }
}
