@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato';

  src: url('../../../fonts/Lato/Lato-Regular.woff2') format('woff2');
  src: url('../../../fonts/Lato/Lato-Regular.eot') format('embedded-opentype'),
       url('../../../fonts/Lato/Lato-Regular.otf') format('otf'),
       url('../../../fonts/Lato/Lato-Regular.svg') format('svg'),
       url('../../../fonts/Lato/Lato-Regular.ttf') format('truetype'),
       url('../../../fonts/Lato/Lato-Regular.woff') format('woff');
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Roboto';

  src: url('../../../fonts/Roboto/Roboto-Light.woff2') format('woff2');
  src: url('../../../fonts/Roboto/Roboto-Light.eot') format('embedded-opentype'),
       url('../../../fonts/Roboto/Roboto-Light.otf') format('otf'),
       url('../../../fonts/Roboto/Roboto-Light.svg') format('svg'),
       url('../../../fonts/Roboto/Roboto-Light.ttf') format('truetype'),
       url('../../../fonts/Roboto/Roboto-Light.woff') format('woff');
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto';

  src: url('../../../fonts/Roboto/Roboto-Regular.woff2') format('woff2');
  src: url('../../../fonts/Roboto/Roboto-Regular.eot') format('embedded-opentype'),
       url('../../../fonts/Roboto/Roboto-Regular.otf') format('otf'),
       url('../../../fonts/Roboto/Roboto-Regular.svg') format('svg'),
       url('../../../fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
       url('../../../fonts/Roboto/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Roboto';

  src: url('../../../fonts/Roboto/Roboto-Medium.woff2') format('woff2');
  src: url('../../../fonts/Roboto/Roboto-Medium.eot') format('embedded-opentype'),
       url('../../../fonts/Roboto/Roboto-Medium.otf') format('otf'),
       url('../../../fonts/Roboto/Roboto-Medium.svg') format('svg'),
       url('../../../fonts/Roboto/Roboto-Medium.ttf') format('truetype'),
       url('../../../fonts/Roboto/Roboto-Medium.woff') format('woff');
}
