<div class="modal" id="contact-modal">
  <div class="modal__content modal__content--padding">
    <button class="close modal__close" type="submit">
      <img src="assets/images/svg/close_modal.svg" alt="close" class="modal__img">
    </button>
    <form action="/" method="post" class="profile__form profile__form--modal">
      <ul class="profile__list">
        <li class="profile__item">
          <input type="text" class="input input--form profile__input " placeholder="Александр Провостин">
          <span class="profile__line"></span>
        </li>
        <li class="profile__item">
          <input type="email" class="input input--form profile__input " placeholder="Ваш e-mail">
          <span class="profile__line"></span>
        </li>
        <li class="profile__item">
          <textarea name="message" class="modal__input input input--form profile__input "
            placeholder="Текст сообщения"></textarea>
          <span class="profile__line"></span>
        </li>
      </ul>
      <button class="btn btn--direct" type="submit">Отправить</button>
    </form>
    <ul class="profile__row">
      <li class="profile__item--size">
        e-mail: <a href="mailto: info@mywebsite.ru" class="profile__link">e-mail: info@mywebsite.ru</a>
      </li>
      <li class="profile__item--size">
        тел:<a href="tel: +94323285622" class="profile__link"> +943-232-856-22</a>
      </li>
    </ul>
  </div>
</div>