<header class="header">
  <nav class="navigation">
    <ul class="navigation__list navigation__list--burger">
      <li class="navigation__item navigation__item--burger">
        <button class="navigation__burger">
          <span class="navigation__line-burger"></span>
        </button>
      </li>
    </ul>
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="index.html" class="navigation__link">Главная</a>
      </li>
      <li class="navigation__item navigation__item--select">
        <a href="#" class="navigation__link">Статьи</a>
        <ul class="navigation__sub-list">
          <li class="navigation__sub-item">
            <a href="#" class="navigation__sub-link">Создание сайтов</a>
          </li>
          <li class="navigation__sub-item">
            <a href="#" class="navigation__sub-link">Интернет-маркетинг</a>
          </li>
          <li class="navigation__sub-item">
            <a href="#" class="navigation__sub-link">Продвижение видео</a>
          </li>
        </ul>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">Обо мне</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">Реклама</a>
      </li>
    </ul>
    <ul class="navigation__list ">
      <li class="navigation__item navigation__item--profile">
        <a href="profile.html" class="navigation__link">Профиль</a>
      </li>
      <li class="navigation__item navigation__item--profile">
        <a href="authorization.html" class="navigation__link">Войти</a>
      </li>
    </ul>
  </nav>
  <form action="search.html" method="get" class="header__form">
    <input class="input header__search" type="search" placeholder="Поиск по блогу">
  </form>
</header>