<aside class="sidebar">
  <div class="sidebar__img">
    <img class="sidebar__pic" src="assets/images/Rectangle_1.jpg" alt="image">
  </div>
  <div class="sidebar__content">
    <div class="sidebar__profile">
      <img src="assets/images/avatar_prof.jpg" alt="avatar" class="sidebar__avatar">
      <div class="sidebar__wrap">
        <h1 class="sidebar__title">Николай Лосиков</h1>
        <p class="sidebar__subtitle">блог front-end разработчика</p>
      </div>
      <div class="sidebar__socil">
        <a href="#" class="sidebar__link sidebar__link--inst">
          <img src="assets/images/svg/inst.svg" alt="instagram">
        </a>
        <a href="#" class="sidebar__link sidebar__link--vk">
          <img src="assets/images/svg/vk.svg" alt="vk">
        </a>
        <a href="#" class="sidebar__link sidebar__link--pint">
          <img src="assets/images/svg/pinterest.svg" alt="pinterest">
        </a>
      </div>
    </div>
    <nav>
      <ul class="sidebar__navigation">
        <li class="sidebar__item">
          <a href="index.html" class="sidebar__link-nav">Главная</a>
        </li>
        <li class="sidebar__item">
          <a href="#" class="sidebar__link-nav sidebar__link-nav--select">Статьи</a>
          <ul class="sidebar__subnavigation">
            <li class="sidebar__item">
              <a href="#" class="sidebar__link-nav">Создание сайтов</a>
            </li>
            <li class="sidebar__item">
              <a href="#" class="sidebar__link-nav">Интернет-маркетинг</a>
            </li>
            <li class="sidebar__item">
              <a href="#" class="sidebar__link-nav">Продвижение видео</a>
            </li>
          </ul>
        </li>
        <li class="sidebar__item">
          <a href="#" class="sidebar__link-nav">Обо мне</a>
        </li>
        <li class="sidebar__item">
          <a href="#" class="sidebar__link-nav">Реклама</a>
        </li>
        <li class="sidebar__item">
          <a href="profile.html" class="sidebar__link-nav">Профиль</a>
        </li>
        <li class="sidebar__item">
          <a href="authorization.html" class="sidebar__link-nav">Войти</a>
        </li>
      </ul>
    </nav>
    <div class="sidebar__description">
      <p class="sidebar__text">
        Front-end разработчик. Практик верстки сайтов.
        Созданием сайтов занимаюсь с 2012 года. Работал в нескольких ИТ компаниях и наработал более 10 000 часов в
        создании
        сайтов различной сложности.
      </p>
    </div>
  </div>
  <div class="sidebar__buttons">
    <a href="works.html" class="btn btn--link">Мои работы</a>
    <button class="btn" type="button" data-modal="contact-modal">Написать мне</button>
  </div>
</aside>