<aside class="sidebar">
  <div class="sidebar__img">
    <img class="sidebar__pic" src="img/Rectangle_1.jpg" alt="image">
  </div>
  <div class="sidebar__content">
    <div class="sidebar__profile">
      <img src="img/avatar_prof.jpg" alt="avatar" class="sidebar__avatar">
      <div class="sidebar__wrap">
        <h1 class="sidebar__title">Николай Лосиков</h1>
        <p class="sidebar__subtitle">блог front-end разработчика</p>
      </div>
      <div class="sidebar__socil">
        <a href="#" class="sidebar__link sidebar__link--inst">
          <img src="img/svg/inst.svg" alt="instagram">
        </a>
        <a href="#" class="sidebar__link sidebar__link--vk">
          <img src="img/svg/vk.svg" alt="vk">
        </a>
        <a href="#" class="sidebar__link sidebar__link--pint">
          <img src="img/svg/pinterest.svg" alt="pinterest">
        </a>
      </div>
    </div>
    <div class="sidebar__description">
      <p class="sidebar__text">
        Front-end разработчик. Практик верстки сайтов.
        Созданием сайтов занимаюсь с 2012 года. Работал в нескольких ИТ компаниях и наработал более 10 000 часов в
        создании
        сайтов различной сложности.
      </p>
    </div>
  </div>
  <div class="sidebar__buttons">
    <a href="works.html" class="btn btn--link">Мои работы</a>
    <button class="btn" type="button">Написать мне</button>
  </div>
</aside>