html {
  @include main-copy-font;
  color: $base-text-color;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  height: 100%;
}

a {
  color: $base-link-color;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $hover-link-color;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
  }
}

body {
  background: $cod_gray;
  color: $gray;
}

.not-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include main-copy-font;
  color: $base-headings-color;
  font-weight: 500;
  line-height: normal;
}

h1 {
  font-size: 1.29rem;
}

h2 {
  font-size: 1.14rem;
}

h3 {
  font-size: 1rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}