// Colors
// Color names - http://chir.ag/projects/name-that-color/

$black: #000000;
$shark: #1b2125;
$trout: #4e585f;
$slate_gray: #788995;
$silver_sand: #bfc1c3;
$white: #ffffff;
$science_blue: #0077e2;

$mercury: #E5E5E5;
$cod_gray: #181818;
$cod_gray_add: #121212;
$mine_shaft: #202020;
$nav_gray: #0D0D0D;
$aside_gray_line: #1C1C1C;
$alto: #D2D2D2;
$pomegranate: #ed3024;
$flamingo: #F23F3F;
$governor_bay: #3137c9;
$mariner: #2054DB;
$azure_radiance: #107eff;
$persian_blue: #2f2be5;
$gray: #828282;
$silver: #C4C4C4;
$gallery: #EBEBEB;
$dusty_gray: #989898;
$carrot_orange: #ea8c1e;
$sandwisp: #ea8c1e;
$facebook: #3b5998;
$twitter: #55acee;
$vk: #4d76a1;
$copy: #e8573f;
$pinterest: #cb2027;
$yellow: #F3EBA2;
$comments__text: #3f3f3f;
// gradient
$first_color: #8e7f42;
$main_color: #ff543e;
$last_color: #c837ab;

$shadow: 0 4px 4px rgba($black, 0.25);
$shadow_post: 0 15px 25px rgba($black, 0.35);

// Body
$base-text-color: $white;

// Headings
$base-headings-color: $white;

// Links
$base-link-color: $white;
$hover-link-color: $azure_radiance;

// Buttons
$base-btn-text-color: $white;
$base-btn-background-color: $science_blue;
$hover-btn-text-color: $white;
$hover-btn-background-color: $science_blue;

// Forms
$field-text-color: $trout;
$field-placeholder-color: $slate_gray;
$field-border-color: $silver_sand;
$field-background-color: $white;
